NODE_ENV=production
PORT=3000

# PostgreSQL
POSTGRES_USER=semvanic
POSTGRES_PASSWORD=123123
POSTGRES_DB=123123

# Backend
DATABASE_URL=postgresql://collab_user:123123@postgres:5432/collab_notes
JWT_SECRET=CHANGE_THIS_TO_RANDOM_64_CHAR_STRING_FOR_PRODUCTION
JWT_REFRESH_SECRET=CHANGE_THIS_TO_ANOTHER_RANDOM_64_CHAR_STRING
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES_DAYS=30
CORS_ORIGIN=https://achiemvemer.ru/
UPLOADS_PATH=/app/uploads
RELEASES_PATH=/app/releases
MAX_UPLOAD_SIZE=52428800
APP_VERSION=1.0.0
PUBLIC_ORIGIN=https://api.achiemvemer.ru
TELEGRAM_BOT_TOKEN=
TELEGRAM_CLIENT_ID=
TELEGRAM_CLIENT_SECRET=
TELEGRAM_APP_REDIRECT_URI=collabnotes://telegram-auth
FIREBASE_SERVICE_ACCOUNT_JSON=
