NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://collab_user:collab_pass@localhost:5432/collab_notes
JWT_SECRET=CHANGE_THIS_TO_RANDOM_64_CHAR_STRING_FOR_PRODUCTION
JWT_REFRESH_SECRET=CHANGE_THIS_TO_ANOTHER_RANDOM_64_CHAR_STRING
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES_DAYS=30
CORS_ORIGIN=https://achiemvemer.ru/
UPLOADS_PATH=/app/uploads
RELEASES_PATH=/app/releases
MAX_UPLOAD_SIZE=52428800
APP_VERSION=1.0.0
PUBLIC_ORIGIN=https://api.achiemvemer.ru
FIREBASE_SERVICE_ACCOUNT_JSON=

